<div id="<%= dom_id generated_document %>">
  <p>
    <strong>Name:</strong>
    <%= generated_document.name %>
  </p>

  <p>
    <strong>Placeholder inputs:</strong>
    <%= generated_document.placeholder_inputs %>
  </p>

  <p>
    <strong>Template:</strong>
    <%= generated_document.template_id %>
  </p>

</div>
